<%= form_for @user do |f| %>
<p>
  <%= f.label :username %><br>
  <%=f.text_field :username %>
</p>
<p>
  <%= f.label :email %><br>
  <%= f.email_field :email %>
</p>
<p>
  <%= f.label :password %><br>
  <%= f.password_field :password %>
</p>
<p>
  <%= f.submit(@user.new_record? ? "Sign up" : "Update your account") %>
</p>

<% end %>

<%= link_to "Back to articles list", articles_path %>